language: node_js
node_js:
  - '0.10'
env:
  - 'TRAVIS=true'
before_install:
  - 'export DISPLAY=:99.0'
  - 'sh -e /etc/init.d/xvfb start'
before_script:
  - 'npm install -g bower grunt-cli'
  - 'npm install karma-firefox-launcher karma-phantomjs-launcher --save-dev'
  - 'bower install'
