<!--<carousel interval="5000">
  <slide active="slide.active">
    <highchart config="chartConfig"></highchart>
  </slide>
  <slide>
    <p>Slide 2</p>
  </slide>
  <slide>
    <p>Slide 3</p>
  </slide>
</carousel>-->

<highchart config="chartConfig"></highchart>
<button ng-click="stop()">stop</button>
<div>
  <script type="text/javascript" src="//p3k.org/rss/index.js?url=http%3A%2F%2Fwww.heise.de%2Fnewsticker%2Fheise.rdf&amp;maxItems=2&amp;width=800&amp;height=-1&amp;radius=5&amp;frameColor=%23b3a28e&amp;titleBarColor=%23333333&amp;titleBarTextColor=%23ffead2&amp;boxFillColor=%23555555&amp;textColor=%23FFFFFF&amp;linkColor=%23333&amp;fontFace=10pt%20sans-serif&amp;showXmlButton=true"></script>

    </div>
<!-- <br>
<small><b>Set extremes:</b> {{report}}</small> -->
